input {
    width: 85%;
    font-weight: bold;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    text-indent: 3px;
}
input::-webkit-input-placeholder { 
    font-weight: normal;
    text-indent: 20px;
}



  
.wrapper {
    display: flex;
    justify-content: center;
    /* padding: 5px; */
}

.column {
    /* margin-left: 20px; */
}
body {
    width: 400px;
    background-color: #DAE2EA;
}